<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Location Settings">
		<setting id="ObservationLocation" label="Observation Location" type="action"
			action="RunScript(special://home/addons/$ID/setlocation.py, ObservationLocation)" default=""/>
		<setting id="ObservationLocationID" type="text" visible="false" default=""/>
		<setting id="ForecastLocation" label="Forecast Location" type="action"
			action="RunScript(special://home/addons/$ID/setlocation.py, ForecastLocation)" default=""/>
		<setting id="ForecastLocationID" type="text" visible="false" default=""/>
		<setting id="RegionalLocation" label="Regional Forecast Location" type="action"
			action="RunScript(special://home/addons/$ID/setlocation.py, RegionalLocation)" default=""/>
		<setting id="RegionalLocationID" type="text" visible="false" default=""/>
	</category>
	<category label="Configuration">
		<setting id="ApiKey" label="API Key" type="text" default="4eeb196d-a473-4634-a9da-397974138bf5"/>
		<setting id="GeoLocation" label="Use IP address to determine location" type="bool" default="true"/>
		<setting id="AutoLocation" label="Auto-assign location based on IP address" type="bool" default="true" enable="eq(-1,true)"/>
		<setting id="ForceAutoLocation" label="Force autolocation, even when location is set" type="bool" default="false" enable="eq(-1,true)+eq(-2,true)"/>
	    <setting id="GeoIPProvider"
			label="GeoIP Provider"
			type="enum"
			values="www.ip-api.com|www.freegeoip.net|www.telize.com|www.hostip.info|www.geoiplookup.net"
			enable="eq(-2,true)"
			default="2"/>
	</category>
</settings>
