<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Location Settings">
		<setting id="Location1" label="Location 1" type="action" action="RunScript($ID,Location1)" default=""/>
		<setting id="Location2" label="Location 2" type="action" action="RunScript($ID,Location2)" default=""/>
		<setting id="Location3" label="Location 3" type="action" action="RunScript($ID,Location3)" default=""/>
		<setting id="Location1id" type="text" visible="false" default=""/>
		<setting id="Location2id" type="text" visible="false" default=""/>
		<setting id="Location3id" type="text" visible="false" default=""/>
	</category>
	<category label="Configuration">
		<setting id="ApiKey" label="API Key" type="text" default=""/>
	</category>
</settings>
