<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Location Settings">
		<setting id="ForecastLocation" label="Forecast Location" type="action" action="RunScript($ID,SetForecastLocation)" default=""/>
		<setting id="ForecastLocationID" type="text" visible="false" default=""/>
	</category>
	<category label="Configuration">
		<setting id="ApiKey" label="API Key" type="text" default=""/>
		<setting id="AutoLocation" label="Auto-assign Location" type="bool" default="true"/>
		<setting id="Debug" label="Debug Mode" type="bool" default="false"/>
	</category>
</settings>
